footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  min-height: 50px;
  background-color: #f8f8f8;
  border-top: 1px solid $primary-color-dark;
  div.row > div {
    margin-top: 11px;
    color: $primary-color-dark;
  }
  .version {
    margin-top: -3px;
    font-size: 10px;
  }
}
