$dark-primary-color:    #333;
$default-primary-color: #666;
$light-primary-color:   #fbfbfb;
$text-primary-color:    #333;
$accent-color:          #03a9f4;
$primary-text-color:    #212121;
$secondary-text-color:  #757575;
$divider-color:         #bdbdbd;
$header-table:          #555;
