$primary-color:         #141e24;
$primary-color-dark:    #030e11;
$primary-color-light:   #4a6572;
$primary-color-text:    #333;
$accent-color:          #c7d907;
$header-color-table:    #555;
$white-color:           #fafafa;
